.card {
    width: 20rem;
    margin: 10px;
    overflow: hidden; /* Ensure the card does not overflow when the image zooms */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for box-shadow and transform */
  }
  
  .card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  
  .card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease; /* Add transition for image transform */
  }
  
  .card:hover img {
    transform: scale(1.1); /* Zoom the image on hover */
  }
  