

.slider-container {
  height: 400px;
  display: flex;
  transition: opacity 0.5s ease-in-out;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider-image.active {
  opacity: 1;
}

/* Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px) {
  .slider-container {
    height: 200px; /* Adjust height for smaller screens */
  }
}

/* Small devices (landscape phones, 576px to 767px) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-container {
    height: 350px; /* Adjust height for landscape phones */
  }
}

/* Medium devices (tablets, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-container {
    height: 300px; /* Adjust height for tablets */
  }
}

/* Large devices (desktops, 992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .slider-container {
    height: 400px; /* Adjust height for large desktops */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .slider-container {
    height: 450px; /* Adjust height for extra large screens */
  }
}
